
# Autogen files
Emacs.el
Emacs.tex
Emacs.pdf
custom.el
ac-comphist.dat
bookmarks
recentf

# Ignore emacs backup files
*~

# Autogen directories
elpa/
transient/
ltximg/
elfeed/
eshell/
games/

# Private files
private.txt

# Mac files
.DS_Store

# Undo tree
.undo-tree/